.alert{
  position: fixed;
  top: 50%;
  width: 50%;
  z-index: 1030;
  right: 25%;
  box-shadow: 0px 0px 50px #0000;
}
.overlay{
    background: #252525;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1029;
}
body{
  margin-top: 45px;
  margin-bottom: 20px;
}
thead{
  display: table-header-group;
}
h2{
  text-align: center;
}
label{
  margin-top: 1em;
}
table{
  clear: both;
}
thead {
    /* display: table; // Remove this and fixes spacing issue
                       // But does not show scroll*/
    display: table;
    table-layout:fixed;
    width: 100% ;
}
tbody {
    /* display:block; // Remove this and fixes spacing issue
    width: 100% ;     // But does not show scroll */
    display:block;
    width: 100% ;
    overflow-y: scroll;
}
tbody tr {
    table-layout:inherit;
    width: 100% ;
}
th, td {
    width: auto ;
}
#error{
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  margin-left: -15px ;
}
.search{
  background-color: #00426c;
  margin-bottom: 0px;
  box-shadow: 0px 0px 50px #dadada;
}
.well{
  box-shadow: 0px 0px 50px #dadada;
  padding: 5px;
}
.row {
  margin: 0;
}
.rowbtn{
  padding: 0 ;
  width: 52px;
}
.btn{
  height: 3em;
  margin: 0 auto;
  display: block;
}
.form-control-feedback{
  top: 5px !important;
  right: 5px !important;
}
.glyphicon-search{
  color: #003152;
}
.color-red{
  color: #a94442 ;
  background-color: #f2dede ;
  border-color: #ebccd1 ;
}
.color-blue{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.color-green{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.color-grey{
  color: #989898;
  background-color: #f1f1f1;
  border-color: #eaeaea;
}
.color-yellow{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.btn-xs{
  height: 50%;
}
.hide{
  display: none;
}
::-ms-clear {
    display: none;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #595a5a3b;
}
.A{
  width: 10% ;
}
.B{
  width: 85% ;
}
.C{
  width: 10% ;
}
.D{
  width: 10% ;
}
@media only screen and (min-width: 500px) and (max-width: 1366px) {
  .fixedHeadersB{
    max-height: 300px ;
    overflow-y: scroll;
  }
  .fixedHeadersA{
    max-height: 112px ;
    overflow-y: scroll;
  }
  .expand:hover{
    max-height: 300px ;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .fixedHeadersB{
    max-height: 500px ;
    overflow-y: scroll;
  }
  .fixedHeadersA{
    max-height: 112px ;
    overflow-y: scroll;
  }
  .expand:hover{
    max-height: 500px ;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 2500px) {
  .fixedHeadersB{
    max-height: 600px ;
    overflow-y: scroll;
  }
  .fixedHeadersA{
    max-height: 112px ;
    overflow-y: scroll;
  }
  .expand:hover{
    max-height: 600px ;
  }
}
