hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.blank{
  padding-right: 3em !important; /*padding-right: 5em !important; for letter button type, 3em for symbol*/
}
.alert{
  position: fixed;
  top: 50%;
  width: 50%;
  z-index: 1030;
  right: 25%;
  box-shadow: 0px 0px 50px #0000;
}
.overlay{
  background: #252525;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1029;
}
body{
  margin-top: 45px;
  margin-bottom: 20px;
}
h2{
  text-align: center;
}
label{
  margin-top: 1em;
}
table{
  clear: both;
}
thead {
  display: table;
  width: 100% ;
}
tbody {
  display:block;
  width: 100% ;
  overflow-y: scroll;
}
tbody tr {
  table-layout:inherit;
  width: 100% ;
}
th, td {
  width: auto ;
}
.error{
  font-size: 1.4em;
  font-weight: bold;
  color: red;
  margin-left: -15px ;
}
.search{
  background-color: #00426c;
  margin-bottom: 0px;
  box-shadow: 0px 0px 50px #dadada;
}
.well{
  box-shadow: 0px 0px 50px #dadada;
  padding: 5px;
  width: 100%;
}
.row {
  margin: 0;
}
.rowbtn{
  padding: 0px !important;
  width: 52px !important;
  vertical-align: middle !important;
}
.btn{
  float: right;
  height: 3em;
  display: block;
}
.form-control-feedback{
  top: 5px !important;
  right: 5px !important;
}
.glyphicon-search{
  color: #003152;
}
.color-red{
  color: #a94442 ;
  background-color: #f2dede ;
  border-color: #ebccd1 ;
}
.color-blue{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.color-green{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.color-grey{
  color: #989898;
  background-color: #f1f1f1;
  border-color: #eaeaea;
}
.color-yellow{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.selected{
  font-weight: 900;
  box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.1);
}
.btn-xs{
  height: 50%;
}
::-ms-clear {
  display: none;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #595a5a3b;
}
.A{
  width: 6em !important;
}
.B{
  width: 64em !important;
}
.C{
  width: 5em !important;
}
.D{
  width: 5em !important;
}
@media only screen and (min-width: 500px) and (max-width: 1366px) {
  .fixedHeadersA{
    max-height: 300px !important;
    overflow-y: scroll;
  }
  .fixedHeadersB{
    max-height: 160px !important;  /* A/1.875 */
    overflow-y: scroll;
  }
  .fixedHeadersC{
    max-height: 115px !important; /* A/2.6 */
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .fixedHeadersA{
    max-height: 500px !important;
    overflow-y: scroll;
  }
  .fixedHeadersB{
    max-height: 266px !important;  /* A/1.875 */
    overflow-y: scroll;
  }
  .fixedHeadersC{
    max-height: 192px !important; /* A/2.6 */
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 2500px) {
  .fixedHeadersA{
    max-height: 600px !important;
    overflow-y: scroll;
  }
  .fixedHeadersB{
    max-height: 320px !important; /* A/1.875 */
    overflow-y: scroll;
  }
  .fixedHeadersC{
    max-height: 230px !important; /* A/2.6 */
    overflow-y: scroll;
  }
}
